    <h3>Contact</h3>
    Do you want to discuss further? Contact Me:
    <form [formGroup]="contactForm" (ngSubmit)="submitContact()">
      <div class="form-group">
        <label for="uname">Name </label>
        <input type="text" class="form-control" formControlName="uname" id="uname" aria-describedby="uname">
      </div>

      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" class="form-control" id="subject" required formControlName="subject" aria-describedby="subject">
      </div>



      <div class="form-group">
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email" required formControlName="email" aria-describedby="email">
        <small>Your email will not be shared with anyone else.</small>
        <br/>
      </div>
      <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched">
        <small class="\ invalid" *ngIf="contactForm.controls['email'].errors?.['required']">
          You must enter a valid email
        </small>
      </div>

      <div class="form-group">
        <label for="mailMessage">Message</label>
        <textarea class="form-control" formControlName="message" id="mailMessage"></textarea>
      </div>


      <button type="submit" class="btn btn-primary mb-2" [disabled]="!contactForm.valid">Send Message</button>
    </form>

    {{contactForm.value | json}}
    <br/>
    Form Status: {{contactForm.status }}

