<div class="container">
<div class="row">
<div class="about-col col-6">
<h1>About Me</h1>
<p>I am a Front End developer with experience in working with current JavaScript frameworks, APIs and non-relational databases such as MongoDB.
   My main career goal is ultimately building a skill set and tech stack for Full Stack Development and advancement of my career. Driven and with an enjoyment of learning,
  I strive to deiliver the best performance while also seeking new ways to improve myself.</p>
</div>
<div class="col-6">
  <app-email-form></app-email-form>
</div>
</div>






</div>
