<div class="container">
 <div class="page-header">
  <h1>Michael Okoro</h1>
  <h2 class="sub-heading">Angular Developer</h2>
 </div>
  <div class="card" style="margin: 2em">
    <div class="card-body">
        <h5 class="card-title">Digital Vega</h5>
        <h6 class="card-subtitle mb-2 text-muted">Angular/UI Developer | Nov 2020 - June 2022</h6>
        <div class="cond_responsibilities">
          <div>
            <h6>Responsibilities</h6>
            <ul>
              <li>Debugging, testing and pushing UI features to the production code</li>
              <li>Ceating new UI features (Hydra DCD)</li>
              <li>Creating new components for the Hydra platform (Alerts)</li>
              <li>Communicating with cloud backend (AWS) with Alerts Component</li>
              <li>Communicate with developer team in daily Agile meetings, communicate with Company in weekly meetings</li>
            </ul>
          </div>
        </div>
    </div>
  </div>

  <div class="card" style="margin: 2em">
    <div onclick="showResponsibilities" class="card-body">
      <h5 class="card-title">University of Edinburgh</h5>
      <h6 class="card-subtitle mb-2 text-muted">Junior Web Developer | Nov Sept 2018 - July 2020</h6>
      <div class="cond_responsibilities">
        <div>
          <h6>Responsibilities</h6>
          <ul>
            <li>1st and 2nd Line Support Help Desk</li>
            <li>Debugging, testing and publishing UI features to client websites</li>
            <li>Daily Wordpress vulnerability checkups w/ in-house made Powershell script to quicken the process</li>
            <li>Lead on the Angular ELE Application Form project</li>
            <li>WCAG 2.1 compliance development</li>
            <li>Communication with clients on GDPR compliance updates for their sites</li>
            <li>Setting up new webhosting for client sites through cPanel</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


